[submodule "themes/bootswatch"]
	path = themes/bootswatch
	url = https://github.com/nilproductions/hugo-bootswatch.git
[submodule "themes/hugo-primer"]
	path = themes/hugo-primer
	url = https://github.com/qqhann/hugo-primer.git
[submodule "public"]
	path = public
	url = https://github.com/qqhann/qqhann.github.io.git
