[submodule "themes/bootswatch"]
	path = themes/bootswatch
	url = https://github.com/nilproductions/hugo-bootswatch.git
[submodule "public"]
	path = public
	url = https://github.com/qiugits/qiugits.github.io.git
	branch = master
