[submodule "themes/bootswatch"]
	path = themes/bootswatch
	url = https://github.com/nilproductions/hugo-bootswatch.git
[submodule "themes/theer"]
	path = themes/theer
	url = https://github.com/qiugits/theer.git
